<% layout('./layout/page.ejs') %>

<div class="pages">
  <div class="pages_text">
    <h1><%= title %></h1>
    <p>Описание континента: <%= desc %></p>
  </div>
  <div class="pages_img">
    <img src="<%= picture %>" alt="картинка континента"/ class=>
  </div>
</div>
