<% layout('./layout/page.ejs') %>

<% if(user) {%>
    <!-- Случай залогиненного пользователя -->
    <h3>Привет <%= user.username %>!</h3>
   <% }else{ %>
    <!-- Случай не залогиненного пользователя -->
    <h3>Для просмотра всех страниц сайта, пройдите регистрацию!</h3>
   <% } %>
   
<h1><%= title %></h1>
<p><%= text %></p>
<p>Счётчик: <%= counter %></p>