<% layout('./layout/page.ejs') %>
<div class="main_page">
    <div class="log_massage">
        <% if(user.length > 0) {%>
            <!-- Случай залогиненного пользователя -->
            <div class="log">
                <h3 class="log">Привет <%= user.username %>!</h3>
            </div>
           <% }else{ %>
            <!-- Случай не залогиненного пользователя -->
            <div class="notlog">
                <h3 class="notlog">Для просмотра всех страниц сайта, пройдите регистрацию!</h3>
            </div>
           <% } %>
    </div>
    
    <div class="about_page">
        <h1><%= title %></h1>
        <p><%= text %></p>
    </div>
    
    <p>Счётчик переходов: <%= counter %></p>
</div>
