*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #ffffff;
}
img {
  height: 500px;
}

.main_text>p{
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
  font-size: 1em;
}
.main_h1{
  text-align: center;
  margin-top: 30px;
}

p{
  font-size: 14px;
}

a {
  color: #00B7FF;
}
