*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}

/* web-page  */
.pages{
  margin-top: 40px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.pages_text{
  flex-direction: column;
  align-self: center;
  margin-top: 60px;
  width: 50%;
  text-align: center;
  word-spacing: 3px;
  font-size: 1.4em;
  font-weight: 600;
}
.pages_text>h1{
  margin-bottom: 40px;
  font-size: 3em;
}

.pages_img{
  height: 500px;
  align-self: center;
  margin-right: 20px;
}
.pages_img>img {
  height: 500px;
  margin-top: 20px;
  transition: all 1s;
  transform: rotate(-5deg);
}
.pages_img>img:hover {
  margin-top: 40px;
  transform: scale(1.1) rotate(10deg);
}
a {
  color: #00B7FF;
}

/* error  */
.error_page{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.error_img{
  height: 300px;
  width: 600px;
  align-self: center;
}
.error_page>h1{
  color: #088ec4;
  align-self: center;
  margin-left: 290px;
}