*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}

/* web-page  */
.page_imgs {
  height: 450px;
}
.page_imgs:hover {
  height: 500px;
  transition: height 1s;
}
.pages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
}
h1{
  text-align: right;
  margin-right: 300px;
}
h4{
  flex-direction: column;
  align-self: center;
  width: 600px;
}
p{
 font-size: 14px;
}
a {
  color: #00B7FF;
}

/* error  */
.error_page{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.error_img{
  height: 300px;
  width: 600px;
  align-self: center;
}
.error_page>h1{
  color: #088ec4;
  align-self: center;
  margin-left: 290px;
}